$pink: #ee4266;
$yellow: #ffd600;
$green: #bed838;
$red: #d90368;
$purple: #c16cc1;
$darkPurple: #610345;
$teal: #107e7d;
$font-stack: "PT Sans", "M PLUS 1P", "sans-serif";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700|PT+Sans:400,700&display=swap&subset=japanese");
